

.login-container {
  display: flex;
  width: 100%;
  height: 100vh; /* Full viewport height */
}

.left-box {
  flex: 40%; /* Adjusted to 40% */
  background-color: #D9D9D9;
  padding: 20px;
}

.right-box {
  flex: 60%;
  background-image: url('../../assets/family.jpg');
  background-size: cover; /* Ensures the image covers the entire box */
  background-position: center; /* Centers the image */
}

body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper{
  width: 420px;
  background:transparent;
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1{
  font-size: 36px;
  text-align: center;
}

.wrapper .tittle{
  color: #C41F3F;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  background: transparent;
  margin: 30px 0;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  background: transparent;
  margin: 30px 0;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255,255,255,.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
  color: #fff;
}

.input-box .icon{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.wrapper .remember-forget{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forget label input{
  accent-color: #fff;
  margin-right: 4px;
}

.remember-forget a{
  color: #fff;
  text-decoration: none;
}

.remember-forget a:hover{
  text-decoration: underline;
}

.wrapper button{
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
}

.wrapper .remember-link{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.remember-link p a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover{
  text-decoration: underline;
}