.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    color: #333;
    padding: 20px;
    overflow: hidden;
  }
  
  .dashboard-row {
    display: flex;
    flex: 1;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
  }
  
  .dashboard-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    min-width: 300px; /* Ensure columns don't get too narrow */
  }
  
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    min-width: 280px; /* Ensure boxes don't get too narrow */
  }
  
  .box-title {
    position: relative;
    font-size: 1.5em;
    margin-bottom: 5px; /* Reduced space underneath the title */
    text-align: left; /* Align title to the left */
    width: 100%; /* Ensure title takes full width */
    padding-left: 20px; /* Shift title to the right */
  }
  
  .double-height {
    flex: 2;
  }
  
  .single-height {
    flex: 1;
  }
  
  .full-width {
    flex: 2;
    margin-right: 0;
  }
  
  p, ul {
    font-size: 1em;
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }

  .scrollable-box {
    overflow-y: auto;
    max-height: 250px; /* Reduced max-height to make the box smaller */
  }

  .activity-box {
    width: auto; /* Changed from 100% to auto */
    margin: 5px 0;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between; /* Align content to the left and right */
  }

  @media (max-width: 1024px) {
    .dashboard-row {
      flex-direction: column; /* Stack rows vertically on smaller screens */
    }

    .dashboard-column {
      margin-right: 0; /* Remove right margin on smaller screens */
      margin-bottom: 20px; /* Add bottom margin for spacing */
    }

    .box {
      width: 100%; /* Ensure boxes take full width on smaller screens */
    }
  }

  .child-account {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    background-color: #e9ecef;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    min-width: 280px; /* Ensure boxes don't get too narrow */
  }

  .child-account-title {
    position: relative;
    font-size: 1.2em;
    margin-bottom: 5px; /* Reduced space underneath the title */
    text-align: left; /* Align title to the left */
    width: 100%; /* Ensure title takes full width */
    padding-left: 20px; /* Shift title to the right */
  }