.parental-controls-container {
    margin: 20px;
    padding: 20px;

    border-radius: 5px;
    width: 90%; /* Full width */
    max-width: 1200px; /* Maximum width */
  }
  
  .parental-controls-title {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .parental-controls-section {
    margin-bottom: 30px;
  }
  
  .section-title {
    font-size: 28px;
    color: #555;
    margin-bottom: 15px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input[type="number"] {
    width: 100px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="number"]:focus {
    outline: none;
    border-color: #2196F3;
    box-shadow: 0 0 3px #2196F3;
  }
  