.navbar {
    width: 25%;
    background-color: #901C44;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }
  
  .logo-container {
    margin-bottom: 20px;
  }
  
  .logo {
    width: 250px;
    height: auto;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
  }
  
  .navbar li {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
  }
  
  .navbar li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  
  .navbar li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
  }
  
  .logout-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  .logout-container:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}
  
  .logout-icon {
    font-size: 24px;
    color: #fff;
  }
  
  .logout-text {
    margin-left: 10px;
    font-size: 18px;
    color: #fff;
  }

  .money-mentor {
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

